<div>
  <h1>Add Identity Details</h1>
  <form id="identity-form">
    <fieldset class="uk-fieldset">

      <!--<legend class="uk-legend">Legend</legend>-->

      <div class="uk-margin">
        <label>ID Number</label>
        <input class="uk-input" type="text" placeholder="ID Number">
      </div>
      <div class="uk-margin">
        <label>Identity Reference</label>
        <input class="uk-input" type="text" placeholder="ID Reference">
      </div>
      <div class="uk-margin">
        <label>First Name</label>
        <input class="uk-input" type="text" placeholder="First Names">
      </div>
      <div class="uk-margin">
        <label>Surname</label>
        <input class="uk-input" type="text" placeholder="Surname">
      </div>
      <div class="uk-margin">
        <label>Date of Birth</label>
        <input class="uk-input" type="date" placeholder="Date of Birth">
      </div>
      <div class="uk-margin">
        <label>Village of Origin</label>
        <input class="uk-input" type="text" placeholder="Village of Origin">
      </div>
      <div class="uk-margin">
        <label>Place of Birth</label>
        <input class="uk-input" type="text" placeholder="Place of Birth">
      </div>
      <div class="uk-margin">
        <label>Date of Issue</label>
        <input class="uk-input" type="date" placeholder="Date of Issue">
      </div>
    </fieldset>
  </form>
</div>
