<div>
  <h1>Add License Details</h1>
  <form>
    <fieldset class="uk-fieldset">

      <!--<legend class="uk-legend">Legend</legend>-->

      <div class="uk-margin">
        <label>License ID</label>
        <input class="uk-input" type="text" placeholder="License ID">
      </div>
      <div class="uk-margin">
        <label>Identity Reference Number</label>
        <input class="uk-input" type="text" placeholder="ID Reference">
      </div>
      <div class="uk-margin">
        <label>Surname</label>
        <input class="uk-input" type="text" placeholder="Surname">
      </div>
      <div class="uk-margin">
        <label>First Names</label>
        <input class="uk-input" type="text" placeholder="First Names">
      </div>
      <div class="uk-margin">
        <label>Date of Birth</label>
        <input class="uk-input" type="date" placeholder="Date of Birth">
      </div>
      <div class="uk-margin">
        <label>Country</label>
        <input class="uk-input" type="text" placeholder="Country">
      </div>
      <div class="uk-margin">
        <label>Date of Issue</label>
        <input class="uk-input" type="text" placeholder="Date of Issue">
      </div>
      <div class="uk-margin">
        <label>Expiry Date</label>
        <input class="uk-input" type="date" placeholder="Expiry Date">
      </div>
      <div class="uk-margin">
        <label>Agency</label>
        <input class="uk-input" type="text" placeholder="Agency">
      </div>
      <div class="uk-margin">
        <label>Address</label>
        <input class="uk-input" type="text" placeholder="Address">
      </div>
      <div class="js-upload" uk-form-custom>
        <label>Upload Image</label>
        <input type="file" multiple>
        <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
      </div>
    </fieldset>
  </form>
</div>
