<div class="uk-container uk-container-center uk-width-medium-1-2">
  <div class="uk-panel">
    <div class="uk-panel-teaser uk-panel-box-secondary uk-text-center">

      <div class="uk-panel-header">
        <h1>{{license.firstNames}} {{license.surname}}'s License Details</h1>
      </div>

      <div class="uk-panel-body">
        <div class="card">
          <img src="img.jpg" alt="Image here" style="width:100%">
          <div>
            <label class="uk-form-label uk-form-success">Identity Reference</label> <p>{{license.identityRef}}</p>
            <label class="uk-form-label uk-form-success">Date of Birth</label> <p>{{license.dateOfBirth}}</p>
            <label class="uk-form-label uk-form-success">Country</label> <p>{{license.country}}</p>
            <label class="uk-form-label uk-form-success">Date of Issue</label> <p>{{license.dateOfIssue}}</p>
            <label class="uk-form-label uk-form-success">Date of Expiry</label> <p>{{license.expiryDate}}</p>
            <label class="uk-form-label uk-form-success">Agency</label> <p>{{license.agency}}</p>
            <label class="uk-form-label uk-form-success">License Number</label> <p>{{license.licenseNumber}}</p>
          </div>
        </div>
      </div>

      <div class="uk-form-controls">
        <button class="uk-button uk-button-primary" [routerLink]="'/licenses'">Back</button>
        <button class="uk-button uk-button-primary" [routerLink]="['/licenses', license.id, 'edit']">Edit</button>
      </div>

    </div>
  </div>
</div>
