<div class="uk-container uk-container-center uk-width-medium-1-2">
  <div class="uk-panel">
    <div class="uk-panel-teaser uk-panel-box-secondary uk-text-center">

      <div class="uk-panel-header">
        <h1>xxxx's License Details</h1>
      </div>

      <div class="uk-panel-body">
        <div class="card">
          <img src="img.jpg" alt="John" style="width:100%">
          <h1>{{license.firstNames}}</h1>
          <p class="title">CEO & Founder, Example</p>
          <p>Harvard University</p>
        </div>
      </div>

    </div>
  </div>
</div>
