/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
  height: 100%;
}

.title-font {
  color: white;
  font-size: 250%;
  font-family: 'Julius Sans One', sans-serif;
}

.gov-font {
  font-family: 'Julius Sans One', sans-serif;
}

.bg {
  /* The image used */
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  /*background: url("assets/dotted-black-wallpaper.jpg") no-repeat center;*/
  /*background-size: cover;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100&0.77+1,1+100 */
  background: #4c4c4c;
}
