<div class="uk-container uk-container-center" xmlns="http://www.w3.org/1999/html">
  <h1 class="title-font">{{pageTitle}}</h1>
  <form id="add-license-form" class="uk-form-horizontal add-license-font">
    <fieldset class="uk-fieldset">

      <!--<legend class="uk-legend">Legend</legend>-->

      <div class="uk-margin">
        <label class="uk-form-label">License ID</label>
        <input id="license-id-input" class="uk-input uk-input uk-width-1-3" type="text" placeholder="License ID">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Identity Ref Number</label>
        <input id="id-ref-input" class="uk-input uk-width-1-3" type="text" placeholder="ID Reference">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Surname</label>
        <input id="surname-input" class="uk-input uk-width-1-3" type="text" placeholder="Surname">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">First Names</label>
        <input id="first-name-input" class="uk-input uk-width-1-3" type="text" placeholder="First Names">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Date of Birth</label>
        <input id="dob-input" class="uk-input uk-width-1-3" type="date" placeholder="Date of Birth">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Country</label>
        <input id="country-input" class="uk-input uk-width-1-3" type="text" placeholder="Country">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Date of Issue</label>
        <input id="date-of-issue-input" class="uk-input uk-width-1-3" type="text" placeholder="Date of Issue">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Expiry Date</label>
        <input id="expiry-date-input" class="uk-input uk-width-1-3" type="date" placeholder="Expiry Date">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Agency</label>
        <input id="agency-input" class="uk-input uk-width-1-3" type="text" placeholder="Agency">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Address</label>
        <input id="address-input" class="uk-input uk-width-1-3" type="text" placeholder="Address">
      </div>
      <div class="js-upload" uk-form-custom>
        <label class="uk-form-label">Upload Image</label>
        <input type="file" multiple>
        <button class="uk-button uk-button-default" type="button" tabindex="-1">{{uploadButton}}</button>
      </div>
      <div class="uk-margin">
        <button type="button" id="submit-license" value="submit" class="uk-button uk-button-default">{{submitButton}}</button>
        <button type="button" id="view-licenses" class="uk-button uk-button-default" [routerLink]="'/licenses'">{{backButton}}</button>
      </div>
    </fieldset>
  </form>
</div>
