<div class="uk-container">
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-auto@m uk-height-large">
      <div class="uk-card uk-card-body">
        <p class="uk-margin">
          <button id="add-license-details" class="uk-button uk-button-secondary uk-button-large" [routerLink]="['/licenses/add-license']">Add License</button>
        </p>
        <p class="uk-margin">
          <button id="edit-license-details" class="uk-button uk-button-secondary uk-button-large">Edit License</button>
        </p>
        <p class="uk-margin">
          <button id="delete-license-details" class="uk-button uk-button-secondary uk-button-large">Delete License</button>
        </p>
      </div>
    </div>

    <div class="uk-width-expand@m">
      <div class="uk-card uk-card-secondary uk-card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
