<div class="uk-container uk-container-center">
  <table class="uk-table uk-table-striped uk-table-condensed uk-table-middle">
    <thead>
    <tr>
      <th>ID</th>
      <th>ID REF</th>
      <th>SURNAME</th>
      <th>FIRST NAMES</th>
      <th>D.O.B</th>
      <th>COUNTRY</th>
      <th>DATE OF ISSUE</th>
      <th>EXPIRY DATE</th>
      <th>AGENCY</th>
      <th>LICENSE NUMBER</th>
      <th>ADDRESS</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td>Pictopage (c)</td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td>{{license.id}}</td>
      <td>{{license.identityRef}}</td>
      <td>{{license.surname}}</td>
      <td>{{license.firstNames}}</td>
      <td>{{license.dateOfBirth}}</td>
      <td>{{license.country}}</td>
      <td>{{license.dateOfIssue}}</td>
      <td>{{license.expiryDate}}</td>
      <td>{{license.agency}}</td>
      <td>{{license.licenseNumber}}</td>
      <td>{{license.address}}</td>
    </tr>
    </tbody>
  </table>
</div>
