<div>
  <table id="licenses-table" class="uk-table uk-table-striped uk-table-condensed uk-table-middle">
    <thead class="uk-contrast">
    <tr>
      <th id="license-id">ID</th>
      <th id="id-reference">ID REF</th>
      <th id="surname">SURNAME</th>
      <th id="first-name">FIRST NAMES</th>
      <th id="date-of-birth">D.O.B</th>
      <th id="country">COUNTRY</th>
      <th id="date-of-issue">DATE OF ISSUE</th>
      <th id="expiry-date">EXPIRY DATE</th>
      <th id="agency">AGENCY</th>
      <th id="license-number">LICENSE NUMBER</th>
      <th id="address">ADDRESS</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id="license-id-td">{{license.id}}</td>
      <td>{{license.identityRef}}</td>
      <td>{{license.surname}}</td>
      <td>{{license.firstNames}}</td>
      <td>{{license.dateOfBirth}}</td>
      <td>{{license.country}}</td>
      <td>{{license.dateOfIssue}}</td>
      <td>{{license.expiryDate}}</td>
      <td>{{license.agency}}</td>
      <td>{{license.licenseNumber}}</td>
      <td>{{license.address}}</td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Pictopage (c)</td>
      </tr>
    </tfoot>
  </table>
</div>
