<div class="uk-grid uk-width-1-1 uk-text-center uk-position-cover uk-flex uk-flex-center uk-flex-middle">
  <div class="uk-container-center">
    <div class="uk-width-1-1">
      <h1 id="headline" class="uk-animation-fade"><span class="title-font">{{ title }}</span></h1>
    </div>

    <div class="uk-width-1-1">
      <!-- This is a button toggling the modal -->
      <button id="services-button" class="uk-button uk-button-success uk-button-large button-font uk-animation-slide-left" data-uk-modal="{target:'#services-modal'}">{{services}}</button>
    </div>
  </div>

  <!-- This is the modal -->
  <div id="services-modal" class="uk-modal">
    <div class="uk-modal-dialog">
      <a class="uk-modal-close uk-close"></a>
      <h1 id="modal-services-button" class="welcome-title-font">{{services}}</h1>
      <div class="uk-text-center">
        <button id="license-service-button" class="uk-button uk-button-success button-font uk-modal-close uk-margin-right uk-animation-slide-right" type="button" [routerLink]="['/licenses']">{{licenseService}}</button>
        <button id="identity-service-button" class="uk-button uk-button-success button-font uk-modal-close uk-margin-left uk-animation-slide-left" type="button" [routerLink]="['/identities']">{{identityService}}</button>
      </div>
    </div>
  </div>
</div>
