<div class="uk-container-center gov-font">
  <div class="uk-width-1-1">
    <nav id="brand-navbar" class="uk-navbar uk-navbar-brand">
      <ul class="uk-navbar-nav">
        <li class="uk-active brand-logo"><a [routerLink]="['/']"><img src="../../assets/logo.png"></a></li>
      </ul>
    </nav>

    <nav id="license-navbar" class="uk-navbar">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a [routerLink]="['/licenses', 0, 'edit']">{{addLicense}}</a></li>
      </ul>
    </nav>
  </div>

  <div class="uk-width-1-1">
    <router-outlet></router-outlet>
  </div>
</div>
